html {
    margin-top: 0 !important;
}
nav.navbar.navbar-inverse.navbg {
    background-color: transparent;
    border-color: transparent;
}
img.right-top-logo-class {
    float: right;
    margin-top: 16px;
}
img.menulogo {
    z-index: 5;
    margin-top: -100px;
}
ul#menu-mainmenu {   
    font-size: 18px;    
}
ul#menu-mainmenu li a{
    color: #6d6666;
    font-weight: 600;
}
ul#menu-mainmenu li.current_page_item a{
    
    border-bottom: 5px solid #2fbcd6;
    text-decoration: none;
}


