/*ul#menu-mainmenu li a{
    color: #6d6666;
    font-weight: 600;
}
ul#menu-mainmenu li.current_page_item a{
    
    border-bottom: 5px solid #2fbcd6;
    text-decoration: none;
}*/
li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 17px;
 }
 .padd-zero{
 	padding: 0 !important;
 }
 @media (max-width: 767px){
 	.right-image-mob{
 		float: left !important;
 	}
    .col-md-4.col-sm-4.padd-zero {
    margin-top: 0px;
}
 	
 }

 header.headerclas {
    margin-top: 20px;
}
img.logo {
    width: 50%;
    visibility: hidden;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #464141;
}
button.navbar-toggle.btn {
    background-color: #171616;
}
 
 /*footer starting*/
 h5.hreferenceclass {
    font-weight: 600;
}
.col-md-3.col-sm-4.col-xs-12.fotersociallogodiv {
    margin-top: 33px;
    margin-bottom: 12px;
}
.container-fluid.footerdiv {
    
    background-color: #d6d6d6;
}
footer {
    clear: both;
}
/*footer ending*/

/*what is asthmapagestarting*/
.container-fluid.bannerdiv {
    padding: 0px;
    background-image: url(../images/banner.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
        background-position: center;
}
.detailscont {
    border: 1px solid #0ABCD5;
    background-color: #0ABCD5;
    border-radius: 67px;
    text-align: center;
}
h1.isith1class {
    color: #fff;
     text-shadow: 2px 2px 5px #1b1f16;
    font-size: 44px;
}
h4.isith4class {
    color: #eade34;
    font-weight: 600;
        text-shadow: 2px 2px 5px #335605;
}
.col-md-4.col-sm-5.col-xs-5.contdetails {
    margin-top: 87px;
    /* margin-right: -44px; */
    margin-left: 50px;
}
.container-fluid.introcontantdiv {
    background-color: #515254;
}
.container.introcontantcontainerdiv {
    text-align: center;
    margin-top: 43px;
    margin-bottom: 43px;
}
span.clrspan {
    color: #2fbcd6;
}
p.pclrclass {
    color: #fff;
    font-size: 20px;
}
.col-md-6.col-sm-6.col-xs-12.leftsidecont {
    background-color: #2fbcd6;
}
.col-md-12.col-sm-12.col-xs-12.resargriddiv {
    padding: 0px;
}
.container-fluid.resardiv {
    padding: 0px;
}
.col-md-6.col-sm-6.col-xs-12.innerleftsidecont {
    margin-top: 43px;
    margin-bottom: 43px;
}
.col-md-6.col-sm-6.col-xs-12.rightsidecont {
    
    margin-top: 47px;
}
.col-md-12.col-sm-12.col-xs-12.resargriddiv {
    padding: 0px;
    background-color: #e95326;
}
span.spanyellowclrclass {
    color: #f8fd2e;
}
p.pclrclass2 {
    color: #fff;
    font-size: 17px;
}
h1.h1clrclass {
    color: #fff;
}
.container-fluid.endigcontantdiv {
    padding: 0px;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 43px;
}

.container.endingcontantcontainerdiv {
    padding: 0px 0px;
}

/*what is asthmapageending*/
/*astmasymptoms starting*/
ul.bulletandcontantul {
    padding: 0px;
}
span.bulletspan {
    padding-right: 12px;
}
h2.h2asthmasymptomsclass {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.container-fluid.bannerimg-contantdiv {
    padding: 0px;
}
.col-md-6.col-sm-6.col-xs-12.imgcontantdiagnosisdiv {
    padding: 0px;
}

.container-fluid.bannerimg-contantdiv {
    background-color: #2fbcd6;
}
img.img-responsive.center-block.liver {
    
    
}
h4.h4asthmasymptomsclass {
    margin: 0px;
}
p.pasthmasymptomsclass {
    margin: 2px;
}
.contant {
    margin-top: 24px;
    color: #fff;
}
.paddingclass {
    margin-left: 25px;
    font-weight: 600;
}
html {
    margin-top: 0 !important;
}
.container-fluid.DIAGNOSIScontantdiv {
    background-color: #515254;
    color: #fff;
    font-weight: 600;
}
.diagnosisheaderclass {
    margin-top: 27px;
}
h1.h1diagnosisclass {
    text-align: center;
    margin-top: 5px;
    color: #2fbcd6;
}
p.pdialogclass {
    font-size: 19px;
}
.col-md-12.col-sm-12.cont-image-div {
    padding: 0px;
    margin-bottom: 12px;
}
.col-md-2.col-sm-2.image-div {
    padding: 0px;
        margin-top: 17px;
}
.col-md-10.col-sm-10.cont-div {
    padding: 0px;
}
p.pdialogclass1 {
    font-size: 17px;
        line-height: 1.15;
}
/*astmasymptoms ending*/
/*misdiagnosing starting*/
.col-md-12.col-sm-12.col-xs-12.misidiagnosingholecol {
    background-color: #515254;
    color: #fff;
    padding: 0px;
}
h2.h2misclass {
    text-align: center;
}
.leftsidemisidiagnosingcont {
    margin-top: 30px;
    margin-bottom: 30px;
   padding: 0px 19px;
}
li.sidelistclass {
    padding: 3px;
}
.col-md-6.col-sm-6.col-xs-12.misidiagnosingrightcol {
    padding: 0px;
    background-color: #2fbcd6;
}
h1.h1classmi {
    text-align: center;
}
.headeremisidiagnosinglogo {
    margin-top: 20px;
}
p.pdialogclass2 {
    font-size: 20px;
}
.lastcontantclass {
    
    margin: 0px 25px;
}
/*misdiagnosing ending*/
@media (max-width: 425px){

.leftsidemisidiagnosingcont {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 19px;
}
}
@media (max-width: 1440px) and (min-width: 767px){
    .navbar-header2 {
    visibility: hidden;
}
}
@media (max-width: 425px) and (min-width: 320px){
    .container-fluid.bannerdiv {
    padding: 0px;
    background-image: url(../images/banner.jpg);
    height: 221px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1.isith1class {
    color: #fff;
    text-shadow: 2px 2px 5px #1b1f16;
    font-size: 15px;
}
h4.isith4class {
    color: #eade34;
    font-weight: 600;
    text-shadow: 2px 2px 5px #335605;
    font-size: 10px;
}
.col-md-4.col-sm-5.col-xs-5.contdetails {
    margin-top: 5px;
    /* margin-right: -44px; */
    margin-left: 6px;
}
img.img-responsive.center-block.logo1 {
    width: 42%;
    display: block;
    margin-right: auto;
    margin-left: 0px;
}
img.img-responsive.center-block.pull-right.right-image-mob.logo2 {
    width: 53%;
    margin-top: -48px;
}
nav.navbar.navbar-inverse.navbg {
    margin-bottom: 0px;
}
}
@media (max-width: 767px) and (min-width: 426px){
 
h1.isith1class {
    color: #fff;
    text-shadow: 2px 2px 5px #1b1f16;
    font-size: 24px;
}
h4.isith4class {
    color: #eade34;
    font-weight: 600;
    text-shadow: 2px 2px 5px #335605;
    font-size: 11px;
}
.col-md-4.col-sm-5.col-xs-5.contdetails {
    margin-top: 5px;
    /* margin-right: -44px; */
    margin-left: 6px;
}
.detailscont {
    border: 1px solid #0ABCD5;
    background-color: #0ABCD5;
    border-radius: 23px;
    text-align: center;
}
img.img-responsive.center-block.logo1 {
    width: 31%;
    display: block;
    margin-right: auto;
    margin-left: 20px;
}
img.img-responsive.center-block.pull-right.right-image-mob.logo2 {
    margin-top: -54px;
    width: 44%;
}
    }
@media (max-width: 566px) and (min-width: 426px){
.container-fluid.bannerdiv {
    padding: 0px;
    background-image: url(../images/banner.jpg);
    height: 322px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
}
@media (max-width: 768px) and (min-width: 566px){
.container-fluid.bannerdiv {
    padding: 0px;
    background-image: url(../images/banner.jpg);
    height: 394px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    }
    @media (max-width: 1024px) and (min-width: 768px){
        .container-fluid.bannerdiv {
    padding: 0px;
    background-image: url(../images/banner.jpg);
    height: 572px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col-md-4.col-sm-5.col-xs-5.contdetails {
    margin-top: 19px;
    /* margin-right: -44px; */
    margin-left: 0px;
}
    }
    @media (max-width: 508px) and (min-width: 320px){
button.navbar-toggle.btn {
    margin-top: -52px;
}
}

/*@media (max-width: 767px) and (min-width: 320px){
    .navbar-header {
    visibility: hidden;
}
.col-md-12.padd-zero {
    visibility: hidden;
}
}*/
/*media query starting*/